<div class='container'>
    <div class="input-group col-xs-4">
        <span class="input-group-addon" id="basic-addon1">Email</span>
        <input type="text" class="form-control" placeholder="ex.Johndoe123@gmail.com" aria-describedby="basic-addon1" ng-model="beer.image">
    </div>
    <div class="input-group col-xs-4">
        <span class="input-group-addon" id="basic-addon1">Password</span>
        <input type="password" class="form-control" placeholder="password" aria-describedby="basic-addon1" ng-model='beer.name'>
    </div>
    <button class='btn btn-md-danger' ng-click='addUser()'>add</button>
</div>